# Escalamiento de datos

## Carga de librerias

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import Ridge, Lasso, ElasticNet, BayesianRidge, Lars

## Carga de datos

In [2]:
df = pd.read_csv("/Users/gblasd/Documents/DataScience/02_SupervisedLearning/data/real_state/Real_estate.csv")
df.shape

(414, 8)

In [3]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
df.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [5]:
df.columns = ['no','date','house_age','distanceToTheNearestMRTstation',
       'Number OfConvenience stores', 'latitude', 'longitude',
       'house_price']

In [7]:
X = df[['house_age','distanceToTheNearestMRTstation',
       'Number OfConvenience stores', 'latitude', 'longitude']]
y = df[['house_price']]

dc_scores = {}

In [8]:
# diabetes = load_diabetes()
# dc_scores = {}
# df = pd.DataFrame(data = diabetes["data"], columns=diabetes["feature_names"])
# df["target"] = diabetes["target"]
# tgt = "target"
# ls_pred = [x for x in df.columns if x not in [tgt]]
# X = df[ls_pred]
# y = df[tgt]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
X_train.head()

,house_age,distanceToTheNearestMRTstation,Number OfConvenience stores,latitude,longitude
388,10.4,2251.93800,4,24.95957,121.51353
62,17.2,2175.87700,3,24.96303,121.51254
91,9.1,1402.01600,0,24.98569,121.52760
275,1.5,23.38284,7,24.96772,121.54102
181,11.6,201.89390,8,24.98489,121.54121

## Escalamiento

In [11]:
X_train.describe()

,house_age,distanceToTheNearestMRTstation,Number OfConvenience stores,latitude,longitude
count,310.000000,310.000000,310.000000,310.000000,310.000000
mean,18.098710,1124.142050,4.125806,24.968435,121.532791
std,11.143492,1318.727933,2.966967,0.012572,0.015845
min,0.000000,23.382840,0.000000,24.932070,121.473530
25%,10.575000,289.324800,1.000000,24.962990,121.527585
50%,16.300000,492.231300,4.000000,24.970235,121.538420
75%,28.350000,1487.175250,6.000000,24.977440,121.543100
max,43.800000,6488.021000,10.000000,25.001150,121.566270

### MinMaxScaler

In [12]:
mm_x = MinMaxScaler()
mm_y = MinMaxScaler()

Xs = mm_x.fit_transform(X_train)
ys = mm_y.fit_transform(y_train)

In [15]:
pd.DataFrame(Xs).describe()

                0           1           2           3           4
count  310.000000  310.000000  310.000000  310.000000  310.000000
mean     0.413213    0.170274    0.412581    0.526422    0.638999
std      0.254418    0.203991    0.296697    0.181991    0.170851
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.241438    0.041138    0.100000    0.447597    0.582866
50%      0.372146    0.072525    0.400000    0.552475    0.699698
75%      0.647260    0.226431    0.600000    0.656775    0.750162
max      1.000000    1.000000    1.000000    1.000000    1.000000

In [14]:
pd.DataFrame(ys).describe()

                0
count  310.000000
mean     0.273199
std      0.126851
min      0.000000
25%      0.176524
50%      0.277980
75%      0.349181
max      1.000000

### StandardScaler

In [16]:
sc_x = StandardScaler()
sc_y = StandardScaler()
Xn = sc_x.fit_transform(X_train)
yn = sc_y.fit_transform(y_train)

In [17]:
pd.DataFrame(Xn).describe()

                  0             1             2             3             4
count  3.100000e+02  3.100000e+02  3.100000e+02  3.100000e+02  3.100000e+02
mean  -2.378026e-16 -5.157165e-17 -5.157165e-17 -3.195723e-14  1.648869e-12
std    1.001617e+00  1.001617e+00  1.001617e+00  1.001617e+00  1.001617e+00
min   -1.626777e+00 -8.360625e-01 -1.392829e+00 -2.897243e+00 -3.746138e+00
25%   -6.762579e-01 -6.340709e-01 -1.055239e+00 -4.338249e-01 -3.290784e-01
50%   -1.616744e-01 -4.799568e-01 -4.247094e-02  1.433893e-01  3.558507e-01
75%    9.214226e-01  2.757355e-01  6.327081e-01  7.174166e-01  6.516946e-01
max    2.310124e+00  4.074041e+00  1.983066e+00  2.606409e+00  2.116374e+00

## Modelado con variables escaladas

### Regresión Lasso

#### Sin escalar

In [18]:
model = Lasso(alpha=0.001)
model.fit(X_train, y_train)
ls_medias = cross_val_score(estimator=model, X=X_train, y = y_train, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5439376531397451), np.float64(0.058860561148638794))

#### Escalada

In [19]:
model = Lasso(alpha=0.001)
model.fit(Xs, ys)
ls_medias = cross_val_score(estimator=model, X=Xs, y = ys, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5425819492557116), np.float64(0.0562288465008557))

### Regresión Ridge

#### Sin escalar

In [20]:
model = Ridge(alpha=0.001)
model.fit(X_train, y_train)
ls_medias = cross_val_score(estimator=model, X=X_train, y = y_train, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5434913412000495), np.float64(0.05884424505667738))

#### Escalada

In [21]:
model = Ridge(alpha=0.001)
model.fit(Xs, ys)
ls_medias = cross_val_score(estimator=model, X=Xs, y = ys, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.543319565078076), np.float64(0.05904599444896186))

### Elastic Net

#### Sin escalar

In [22]:
model = ElasticNet(alpha=0.001)
model.fit(X_train, y_train)
ls_medias = cross_val_score(estimator=model, X=X_train, y = y_train, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5279401517757072), np.float64(0.05874629746262225))

#### Escalada

In [23]:
model = ElasticNet(alpha=0.001)
model.fit(Xs, ys)
ls_medias = cross_val_score(estimator=model, X=Xs, y = ys, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5440708211852359), np.float64(0.057765654137106735))

## Modelado con vartiables estandarizados

### Regresión Lasso

#### Sin escalar

In [ ]:
model = Lasso(alpha=0.001)
model.fit(X_train, y_train)
ls_medias = cross_val_score(estimator=model, X=X_train, y = y_train, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

#### Escalada

In [24]:
model = Lasso(alpha=0.001)
model.fit(Xs, ys)
ls_medias = cross_val_score(estimator=model, X=Xn, y = yn, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5435110560319631), np.float64(0.05897647339710347))

### Regresión Ridge

#### Sin escalar

In [25]:
model = Ridge(alpha=0.001)
model.fit(X_train, y_train)
ls_medias = cross_val_score(estimator=model, X=X_train, y = y_train, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5434913412000495), np.float64(0.05884424505667738))

#### Escalado

In [26]:
model = Ridge(alpha=0.001)
model.fit(Xn, yn)
ls_medias = cross_val_score(estimator=model, X=Xn, y = yn, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5433136110099901), np.float64(0.05904230322898269))

### ElasticNet

#### Sin escalar

In [27]:
model = ElasticNet(alpha=0.001)
model.fit(X_train, y_train)
ls_medias = cross_val_score(estimator=model, X=X_train, y = y_train, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5279401517757072), np.float64(0.05874629746262225))

#### Escalado

In [28]:
model = ElasticNet(alpha=0.001)
model.fit(Xn, yn)
ls_medias = cross_val_score(estimator=model, X=Xn, y = yn, cv = 4, n_jobs=-1, scoring="r2")
np.mean(ls_medias), np.std(ls_medias)

(np.float64(0.5434451802208382), np.float64(0.05900792042254918))

## Aplicación

In [29]:
X_test.head()

,house_age,distanceToTheNearestMRTstation,Number OfConvenience stores,latitude,longitude
360,32.9,87.30222,10,24.98300,121.54022
196,22.8,707.90670,2,24.98100,121.54713
283,33.5,1978.67100,2,24.98674,121.51844
312,35.4,318.52920,9,24.97071,121.54069
267,34.7,482.75810,5,24.97433,121.53863

In [30]:
# Aplicación de MinMaxScaler a los datos de prueba
model.predict(sc_x.transform(X_test))

array([ 0.69552462,  0.06262267, -0.45399626,  0.28992175, -0.00700504,
        0.08869851,  0.68998804, -0.32244131,  1.02118338,  0.80748316,
       -0.04741908, -0.18282047, -0.41696632, -0.22405149,  0.2186825 ,
        0.85571471,  0.48468785,  0.36754346, -0.31739186, -0.3785069 ,
        1.04575968,  0.58900436,  0.06678257, -0.67020196, -0.17845318,
       -0.14060668, -0.52783327,  0.22544693,  0.70305388, -1.56559293,
        0.56018879, -0.06083486,  0.65895211,  0.58303033, -0.32314573,
       -0.76660505, -0.20750837,  0.56018879,  0.58654121,  0.48699522,
        0.54396767,  0.81081622,  0.6170682 , -1.83722288, -0.95239502,
        0.58247144,  0.71548767,  0.53869541,  0.09654223, -0.48738496,
       -1.61513257,  0.55583352,  0.01841717,  0.57376088, -0.49101514,
        0.55201537,  0.50034183,  0.73958437,  0.87866699, -0.59911089,
       -0.2724917 ,  0.49655077, -1.66265154,  0.3659577 , -0.58325457,
        0.89562192, -1.54544812,  0.13308978,  0.49095735, -0.2194581 ,
       -0.42631386, -0.26813642,  0.14660238,  0.20187277, -0.17627554,
       -0.89137716, -0.39112901,  0.57811616,  0.55365588,  1.05882552,
        0.48468785,  0.3043853 ,  1.14317291, -0.37985916,  0.63070241,
       -0.27295624,  0.5493006 ,  0.58464908, -0.21074754,  0.82272664,
       -0.49244861, -0.00486443,  0.36988089,  0.76210299, -0.50848222,
        0.30652657,  0.16938374, -0.10515423,  0.60894302,  0.14325411,
       -0.44750832,  0.2077943 ,  0.90868775,  0.74521756])

In [31]:
# Prediccion de los datos escalados
pd.DataFrame(model.predict(sc_x.transform(X_test)), columns=["target"])

       target
0    0.695525
1    0.062623
2   -0.453996
3    0.289922
4   -0.007005
..        ...
99   0.143254
100 -0.447508
101  0.207794
102  0.908688
103  0.745218

[104 rows x 1 columns]

In [33]:
# Regresar datos a formato original
sc_y.inverse_transform(pd.DataFrame(model.predict(sc_x.transform(X_test)), columns=["target"]))

array([[47.3051542 ],
       [38.4961278 ],
       [31.30558319],
       [41.65978304],
       [37.52701674],
       [38.85906364],
       [47.22809347],
       [33.13662661],
       [51.83782557],
       [48.86344571],
       [36.96451511],
       [35.07993505],
       [31.82098317],
       [34.50606232],
       [40.66824172],
       [49.53475507],
       [44.3706291 ],
       [42.74015854],
       [33.20690735],
       [32.35627943],
       [52.1798901 ],
       [45.82255519],
       [38.55402724],
       [28.29633076],
       [35.14072105],
       [35.66748632],
       [30.27788501],
       [40.76239235],
       [47.4099499 ],
       [15.83385909],
       [45.42148663],
       [36.77778807],
       [46.79612083],
       [45.73940589],
       [33.12682226],
       [26.9545473 ],
       [34.73631721],
       [45.42148663],
       [45.78827193],
       [44.40274418],
       [45.19571346],
       [48.90983671],
       [46.21316094],
       [12.05318604],
       [24.36863527],
       [45.73162698],
       [47.58300931],
       [45.12233163],
       [38.96823616],
       [30.84086362],
       [15.14434312],
       [45.36086782],
       [37.88085496],
       [45.61038936],
       [30.790337  ],
       [45.30772511],
       [44.58850844],
       [47.91839838],
       [49.85421555],
       [29.28580963],
       [33.83184877],
       [44.53574279],
       [14.48295178],
       [42.71808706],
       [29.50650538],
       [50.09020223],
       [16.11424405],
       [39.4769222 ],
       [44.45789094],
       [34.5699953 ],
       [31.69087985],
       [33.89246758],
       [39.6649968 ],
       [40.43427611],
       [35.17103045],
       [25.21791051],
       [32.18059906],
       [45.67100817],
       [45.33055841],
       [52.36174652],
       [44.3706291 ],
       [41.86109358],
       [53.53573309],
       [32.33745806],
       [46.40292817],
       [33.82538313],
       [45.26993961],
       [45.76193638],
       [34.69123292],
       [49.07561154],
       [30.77038523],
       [37.55681069],
       [42.7726919 ],
       [48.23182315],
       [30.547222  ],
       [41.89089678],
       [39.98207848],
       [36.1609302 ],
       [46.10007082],
       [39.61839402],
       [31.39588532],
       [40.5166947 ],
       [50.27205865],
       [47.99680377]])

In [34]:
y_test

     house_price
360         47.1
196         36.6
283         23.5
312         78.0
267         41.1
..           ...
279         31.1
144         28.4
273         29.3
254         51.8
225         49.0

[104 rows x 1 columns]