In [2]:
import pandas as pd
import numpy as np
import os

In [ ]:
pd.set_option('display.max_columns',100)

# Funciones

In [52]:
def trimestre( mes ):

    if mes < 4:
        r = 1
    elif mes <7:
        r = 2
    elif mes < 10:
        r = 3
    else:
        r = 4

    return r

In [53]:
def zona( lat , lon ):

    if (lon > long_m) & (lat > lat_m):
        # cuadrante 1
        r = "Zona 1"
    elif (lon > long_m) & (lat <= lat_m):
        # cuadrante 2 
        r = "Zona 2"
    elif (lon <= long_m) & (lat <= lat_m):
        # cuadrante 3
        r = "Zona 3"
    else: #(lon <= long_m) & (lat > lat_m):
        # cuadrante 4
        r = "Zona 4"

    return r

# Lectura de Datos

In [1]:
path_cat = 'data/contaminantes_catalogos/'
path_dat = 'data/contaminantes_CDMX_/'

In [3]:
lst_files = os.listdir(path_cat)

In [4]:
lst_files

['cat_estacion.csv', 'cat_unidades.csv', 'cat_parametros.csv']

In [8]:
cat_est = pd.read_csv(os.path.join( path_cat , lst_files[0] ) , skiprows=1 , encoding='latin-1' )

In [9]:
cat_est

,cve_estac,nom_estac,longitud,latitud,alt,obs_estac,id_station
0,ACO,Acolman,-98.912003,19.635501,2198.0,NaN,484150020109
1,AJU,Ajusco,-99.162611,19.154286,2942.0,NaN,484090120400
2,AJM,Ajusco Medio,-99.207744,19.272161,2548.0,NaN,484090120609
3,ARA,Aragón,-99.074549,19.470218,2200.0,Finalizó operación en 2010,484090050301
4,ATI,Atizapan,-99.254133,19.576963,2341.0,NaN,484150130101
...,...,...,...,...,...,...,...
64,VIF,Villa de las Flores,-99.096590,19.658223,2242.0,NaN,484150200109
65,XAL,Xalostoc,-99.082400,19.525995,2160.0,NaN,484150330415
66,XCH,Xochimilco,-99.118252,19.267066,2243.0,Finalizó operación en 1999,484090130102
67,FAR,FES Aragón,-99.046176,19.473692,2230.0,NaN,484800150584
68,SAC,Santiago Acahualtepec,-99.009381,19.345610,2293.0,NaN,484800090073

In [11]:
cat_unidades = pd.read_csv(os.path.join( path_cat , lst_files[1] ), encoding='latin-1' )

In [12]:
cat_unidades

    id_unidad clave_unidad                              nombre_unidad
0           1          ppb                          partes por billón
1           2        µg/m³               microgramos por metro cúbico
2           3          m/s                         metros por segundo
3           4            °                                     grados
4           5           °C                             grados Celsius
5           6            %                                 porcentaje
6           7         W/m²                   watts por metro cuadrado
7           8    µmol/m²/s  micromoles por metro cuadrado por segundo
8           9         mmHg                     milimetros de mercurio
9          10           pH                     potencial de hidrógeno
10         11           mm                                 milimetros
11         12        µS/cm                microsiemens por centimetro
12         13         mg/L                        miligramo por litro
13         14        mg/m²               miligramo por metro cuadrado
14         15          ppm                          partes por millón
15         16        MED/h          dosis eritemática mínima por hora
16         17       mW/cm²          miliwatts por centímetro cuadrado

In [13]:
cat_parametros = pd.read_csv(os.path.join( path_cat , lst_files[2] ),skiprows=1 , encoding='latin-1' )

In [14]:
cat_parametros

,id_parameter,cve_param,nom_param,unidades_param
0,1,O3,Ozono,1
1,2,NO2,Dióxido de nitrógeno,1
2,3,NO,Óxido nítrico,1
3,4,NOx,Óxidos de nitrógeno,1
4,5,CO,Monóxido de carbono,15
5,6,SO2,Dióxido de azufre,1
6,7,PM10,Partículas menores a 10 micrómetros,2
7,8,PM2.5,Partículas menores a 2.5 micrómetros,2
8,9,PMco,Partículas coarse,2
9,10,BEN,Benceno,1
10,11,TOL,Tolueno,1
11,14,WSP,Velocidad del viento,3
12,15,WDR,Direccion del viento,4
13,16,TMP,Temperatura ambiente,5
14,17,RH,Humedad relativa,6
15,18,UVA,Radiación UV-A,7
16,19,UVB,Radiación UV-B,16
17,20,GR,Radiación global,7
18,21,PAR,Radiación FA,8
19,22,PA,Presión Atmosférica,9
20,23,pH,Potencial de hidrógeno,10
21,24,PP,Precipitacion pluvial,11
22,25,CE,Conductividad eléctrica,12
23,26,SO4,Sulfato,"13,14"
24,27,NO3,Nitrato,"13,14"
25,28,Cl,Cloruro,"13,14"
26,29,CO3,Carbonato,"13,14"
27,30,H,Hidrógeno,"13,14"
28,31,NH4,Amonio,"13,14"
29,32,Ca,Calcio,"13,14"
30,33,Mg,Magnesio,"13,14"
31,34,Na,Sodio,"13,14"
32,35,K,Potasio,"13,14"
33,36,PST,Partículas suspendidas totales,2
34,37,PbPST,Plomo contenido en PST,2
35,38,PbPM,Plomo contenido en PM10,2
36,39,ETB,Etilbenceno,1
37,40,XIL,Xilenos,1

In [15]:
lst_files_2 = os.listdir(path_dat)

In [18]:
lst_files_d = []
for f in lst_files_2:
    lst_files_d.append( pd.read_csv( os.path.join( path_dat , f ) , skiprows=10 )   )

In [21]:
df = pd.concat(lst_files_d)

In [27]:
df.shape

(9931032, 5)

In [23]:
df.sample(10)

                     date id_station id_parameter  value  unit
1661388  12/10/2018 21:00        GAM         PM10    NaN     2
378000   02/03/2021 09:00        COY          NO2    NaN     1
737875   27/04/2020 20:00        MON          NOX    NaN     1
260641   11/02/2022 11:00        MGH          SO2    1.0     1
1728523  24/10/2018 10:00        HGM           NO   77.0     1
265650   15/02/2018 14:00        CUT          NO2    8.0     1
44345    08/01/2020 02:00        INN           CO    NaN    15
928706   01/06/2019 11:00        CUT          SO2    1.0     1
561917   03/04/2019 21:00        BJU        PM2.5    NaN     2
1652182  20/09/2021 24:00        PED         PMCO    6.0     2

In [26]:
df.pivot_table( index=['id_station','date'] , columns=['id_parameter'] , values =['value'] , aggfunc=['mean'] )

                            value                                            \
id_parameter                   CO    NO   NO2   NOX    O3   PM10 PM2.5 PMCO
id_station date
ACO        01/01/2018 01:00   0.4   3.0  23.0  25.0   8.0  125.0   NaN  NaN
           01/01/2018 02:00   0.4   2.0  19.0  21.0  13.0   98.0   NaN  NaN
           01/01/2018 03:00   0.4   2.0  15.0  17.0  15.0   88.0   NaN  NaN
           01/01/2018 04:00   0.4   2.0  14.0  15.0  20.0   82.0   NaN  NaN
           01/01/2018 05:00   0.4   2.0  14.0  16.0  16.0   96.0   NaN  NaN
...                           ...   ...   ...   ...   ...    ...   ...  ...
XAL        31/12/2019 20:00   0.7   4.0  30.0  34.0  23.0    NaN   NaN  NaN
           31/12/2019 21:00   0.6   5.0  29.0  33.0  18.0    NaN   NaN  NaN
           31/12/2019 22:00   0.9  15.0  38.0  53.0   8.0    NaN   NaN  NaN
           31/12/2019 23:00   0.9   8.0  40.0  49.0   8.0    NaN   NaN  NaN
           31/12/2019 24:00   1.0  12.0  40.0  52.0   6.0    NaN   NaN  NaN


id_parameter                 SO2
id_station date
ACO        01/01/2018 01:00  2.0
           01/01/2018 02:00  3.0
           01/01/2018 03:00  3.0
           01/01/2018 04:00  3.0
           01/01/2018 05:00  4.0
...                          ...
XAL        31/12/2019 20:00  NaN
           31/12/2019 21:00  NaN
           31/12/2019 22:00  NaN
           31/12/2019 23:00  NaN
           31/12/2019 24:00  NaN

[1074321 rows x 9 columns]

##### Indicadores, KPIs o información relevante para el gobierno de la CDMX
* Agregación por día: max, min, mean,
* Agregación por estación: max, min, mean,
* Agregación por tiempo-estacion: max, min, mean,
* Agragación por clasificación: Alto, medio, bajo

In [28]:
df = df.pivot_table( index = ['id_station','date'] ,
                    columns= ['id_parameter'],
                    values = ['value']).reset_index()

In [29]:
df

             id_station              date value                          \
id_parameter                                 CO    NO   NO2   NOX    O3
0                   ACO  01/01/2018 01:00   0.4   3.0  23.0  25.0   8.0
1                   ACO  01/01/2018 02:00   0.4   2.0  19.0  21.0  13.0
2                   ACO  01/01/2018 03:00   0.4   2.0  15.0  17.0  15.0
3                   ACO  01/01/2018 04:00   0.4   2.0  14.0  15.0  20.0
4                   ACO  01/01/2018 05:00   0.4   2.0  14.0  16.0  16.0
...                 ...               ...   ...   ...   ...   ...   ...
1074316             XAL  31/12/2019 20:00   0.7   4.0  30.0  34.0  23.0
1074317             XAL  31/12/2019 21:00   0.6   5.0  29.0  33.0  18.0
1074318             XAL  31/12/2019 22:00   0.9  15.0  38.0  53.0   8.0
1074319             XAL  31/12/2019 23:00   0.9   8.0  40.0  49.0   8.0
1074320             XAL  31/12/2019 24:00   1.0  12.0  40.0  52.0   6.0


id_parameter   PM10 PM2.5 PMCO  SO2
0             125.0   NaN  NaN  2.0
1              98.0   NaN  NaN  3.0
2              88.0   NaN  NaN  3.0
3              82.0   NaN  NaN  3.0
4              96.0   NaN  NaN  4.0
...             ...   ...  ...  ...
1074316         NaN   NaN  NaN  NaN
1074317         NaN   NaN  NaN  NaN
1074318         NaN   NaN  NaN  NaN
1074319         NaN   NaN  NaN  NaN
1074320         NaN   NaN  NaN  NaN

[1074321 rows x 11 columns]

In [30]:
df.columns = [ c[0] if c[1] == '' else c[1] for c in df.columns.tolist() ]

In [32]:
df.dtypes

id_station     object
date           object
CO            float64
NO            float64
NO2           float64
NOX           float64
O3            float64
PM10          float64
PM2.5         float64
PMCO          float64
SO2           float64
dtype: object

In [33]:
df['fh'] = df['date'].map( lambda x: x.split(' ')[0] )
df['hrs'] = df['date'].map( lambda x: x.split(' ')[1].split(':')[0] ).astype(int)

In [35]:
df['hrs'] = df['hrs'] -1

In [38]:
df['hrs'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [39]:
df['hrs_str'] = df['hrs'].map( lambda x: str(x) if len(str(x)) == 2 else '0'+str(x) )

In [41]:
df['date2'] = pd.to_datetime( df['fh'] + ' ' + df['hrs_str']+':59' , format= '%d/%m/%Y %H:%M' )

In [42]:
df

,id_station,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2,fh,hrs,hrs_str,date2
0,ACO,01/01/2018 01:00,0.4,3.0,23.0,25.0,8.0,125.0,NaN,NaN,2.0,01/01/2018,0,00,2018-01-01 00:59:00
1,ACO,01/01/2018 02:00,0.4,2.0,19.0,21.0,13.0,98.0,NaN,NaN,3.0,01/01/2018,1,01,2018-01-01 01:59:00
2,ACO,01/01/2018 03:00,0.4,2.0,15.0,17.0,15.0,88.0,NaN,NaN,3.0,01/01/2018,2,02,2018-01-01 02:59:00
3,ACO,01/01/2018 04:00,0.4,2.0,14.0,15.0,20.0,82.0,NaN,NaN,3.0,01/01/2018,3,03,2018-01-01 03:59:00
4,ACO,01/01/2018 05:00,0.4,2.0,14.0,16.0,16.0,96.0,NaN,NaN,4.0,01/01/2018,4,04,2018-01-01 04:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074316,XAL,31/12/2019 20:00,0.7,4.0,30.0,34.0,23.0,NaN,NaN,NaN,NaN,31/12/2019,19,19,2019-12-31 19:59:00
1074317,XAL,31/12/2019 21:00,0.6,5.0,29.0,33.0,18.0,NaN,NaN,NaN,NaN,31/12/2019,20,20,2019-12-31 20:59:00
1074318,XAL,31/12/2019 22:00,0.9,15.0,38.0,53.0,8.0,NaN,NaN,NaN,NaN,31/12/2019,21,21,2019-12-31 21:59:00
1074319,XAL,31/12/2019 23:00,0.9,8.0,40.0,49.0,8.0,NaN,NaN,NaN,NaN,31/12/2019,22,22,2019-12-31 22:59:00
1074320,XAL,31/12/2019 24:00,1.0,12.0,40.0,52.0,6.0,NaN,NaN,NaN,NaN,31/12/2019,23,23,2019-12-31 23:59:00

In [99]:
df['anio'] = df['date2'].apply(lambda x: x.year )
df['mes'] = df['date2'].apply(lambda x: x.month )
df['dia'] = df['date2'].apply(lambda x: x.day )
df['semana'] = df['date2'].apply(lambda x: x.week )

In [45]:
df['mes_str'] = df['mes'].map( lambda x: str(x) if len(str(x)) == 2 else '0'+str(x) )

In [46]:
df['semana_str'] = df['semana'].map( lambda x: str(x) if len(str(x)) == 2 else '0'+str(x) )

In [47]:
df['anio_mes'] = df.apply(lambda row: str(row['anio'])+row['mes_str'] , axis=1 )

In [48]:
df['anio_semana'] = df.apply(lambda row: str(row['anio'])+row['semana_str'] , axis=1 )

In [54]:
df['trimestre']= df['mes'].apply( lambda x: trimestre(x) )

In [56]:
df['anio_trimestre'] = df.apply(lambda row: str(row['anio'])+'-'+str(row['trimestre']) , axis=1 )

In [89]:
df.head()

,id_station,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2,fh,hrs,hrs_str,date2,anio,mes,dia,semana,mes_str,semana_str,anio_mes,anio_semana,trimestre,anio_trimestre
0,ACO,01/01/2018 01:00,0.4,3.0,23.0,25.0,8.0,125.0,NaN,NaN,2.0,01/01/2018,0,00,2018-01-01 00:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
1,ACO,01/01/2018 02:00,0.4,2.0,19.0,21.0,13.0,98.0,NaN,NaN,3.0,01/01/2018,1,01,2018-01-01 01:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
2,ACO,01/01/2018 03:00,0.4,2.0,15.0,17.0,15.0,88.0,NaN,NaN,3.0,01/01/2018,2,02,2018-01-01 02:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
3,ACO,01/01/2018 04:00,0.4,2.0,14.0,15.0,20.0,82.0,NaN,NaN,3.0,01/01/2018,3,03,2018-01-01 03:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
4,ACO,01/01/2018 05:00,0.4,2.0,14.0,16.0,16.0,96.0,NaN,NaN,4.0,01/01/2018,4,04,2018-01-01 04:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1

# Cubo

In [70]:
contaminantes = ['CO','NO','NO2','NOX','O3','PM10','PM2.5','PMCO','SO2']
dimensiones = ['hrs','hrs_str','date2','anio','mes','dia','semana','mes_str','semana_str','anio_mes','anio_semana','trimestre','anio_trimestre']

In [71]:
lst_agg = ['min','mean','max']

In [72]:
df[contaminantes+dimensiones]

,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2,hrs,hrs_str,date2,anio,mes,dia,semana,mes_str,semana_str,anio_mes,anio_semana,trimestre,anio_trimestre
0,0.4,3.0,23.0,25.0,8.0,125.0,NaN,NaN,2.0,0,00,2018-01-01 00:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
1,0.4,2.0,19.0,21.0,13.0,98.0,NaN,NaN,3.0,1,01,2018-01-01 01:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
2,0.4,2.0,15.0,17.0,15.0,88.0,NaN,NaN,3.0,2,02,2018-01-01 02:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
3,0.4,2.0,14.0,15.0,20.0,82.0,NaN,NaN,3.0,3,03,2018-01-01 03:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
4,0.4,2.0,14.0,16.0,16.0,96.0,NaN,NaN,4.0,4,04,2018-01-01 04:59:00,2018,1,1,1,01,01,201801,201801,1,2018-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074316,0.7,4.0,30.0,34.0,23.0,NaN,NaN,NaN,NaN,19,19,2019-12-31 19:59:00,2019,12,31,1,12,01,201912,201901,4,2019-4
1074317,0.6,5.0,29.0,33.0,18.0,NaN,NaN,NaN,NaN,20,20,2019-12-31 20:59:00,2019,12,31,1,12,01,201912,201901,4,2019-4
1074318,0.9,15.0,38.0,53.0,8.0,NaN,NaN,NaN,NaN,21,21,2019-12-31 21:59:00,2019,12,31,1,12,01,201912,201901,4,2019-4
1074319,0.9,8.0,40.0,49.0,8.0,NaN,NaN,NaN,NaN,22,22,2019-12-31 22:59:00,2019,12,31,1,12,01,201912,201901,4,2019-4
1074320,1.0,12.0,40.0,52.0,6.0,NaN,NaN,NaN,NaN,23,23,2019-12-31 23:59:00,2019,12,31,1,12,01,201912,201901,4,2019-4

In [82]:
## Realizar agrupados solo a niveles de dimensión "tiempo"

lst_dfs = []

for d in dimensiones:
    print(d)
    aux = df.groupby([d])[contaminantes].mean().reset_index().copy()
    aux.rename(columns = {d:'tiempo'} , inplace=True)
    aux.insert(0,'dimension',d)
    
    print(aux.shape)

    display(aux.head())

    lst_dfs.append(aux)

cubo = pd.concat( lst_dfs , ignore_index=True )

hrs
(24, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,hrs,0,0.312404,7.456574,21.933860,29.600732,16.515427,34.464894,17.841665,15.473877,3.428262
1,hrs,1,0.277678,7.251166,20.678116,28.135607,15.705189,33.122560,18.393030,14.404870,3.542234
2,hrs,2,0.255888,7.403335,19.881017,27.532365,14.674933,31.828204,18.639310,13.368783,3.620527
3,hrs,3,0.251474,8.774315,19.909887,28.972164,13.263713,31.179271,18.669187,12.925385,3.491220
4,hrs,4,0.294181,13.854534,21.678198,35.850810,10.688316,31.620618,19.002769,13.116230,3.489692

hrs_str
(24, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,hrs_str,00,0.312404,7.456574,21.933860,29.600732,16.515427,34.464894,17.841665,15.473877,3.428262
1,hrs_str,01,0.277678,7.251166,20.678116,28.135607,15.705189,33.122560,18.393030,14.404870,3.542234
2,hrs_str,02,0.255888,7.403335,19.881017,27.532365,14.674933,31.828204,18.639310,13.368783,3.620527
3,hrs_str,03,0.251474,8.774315,19.909887,28.972164,13.263713,31.179271,18.669187,12.925385,3.491220
4,hrs_str,04,0.294181,13.854534,21.678198,35.850810,10.688316,31.620618,19.002769,13.116230,3.489692

date2
(38688, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,date2,2018-01-01 00:59:00,0.726087,3.619048,29.190476,32.857143,19.962963,101.294118,67.066667,27.0,7.230769
1,date2,2018-01-01 01:59:00,0.654545,4.904762,26.571429,31.523810,20.769231,102.411765,67.000000,24.9,8.560000
2,date2,2018-01-01 02:59:00,0.721739,6.809524,26.285714,33.095238,17.592593,101.647059,70.200000,19.5,10.769231
3,date2,2018-01-01 03:59:00,0.621739,5.857143,26.142857,32.000000,16.444444,90.111111,65.800000,17.5,17.769231
4,date2,2018-01-01 04:59:00,0.613043,7.047619,26.619048,33.523810,13.481481,86.111111,61.466667,16.3,23.653846

anio
(5, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio,2018,0.431085,16.095443,24.534511,40.599747,29.626097,43.803452,23.336676,21.442206,4.265605
1,anio,2019,0.383208,13.426739,21.644903,35.688605,31.357927,43.517259,22.736653,20.669559,3.313983
2,anio,2020,0.322925,10.282688,18.978150,29.624292,31.923724,38.254228,19.049728,17.784468,3.290064
3,anio,2021,0.388669,12.685351,20.815364,33.889656,29.163534,39.301183,19.279539,17.500321,2.839421
4,anio,2022,0.409712,13.151300,22.085672,35.621252,35.508667,48.232412,21.443782,21.523380,2.961418

mes
(12, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,mes,1,0.481743,19.769966,26.050160,46.371170,25.831449,50.384648,23.259499,24.068789,4.998085
1,mes,2,0.432044,17.508512,23.742840,41.793974,29.519540,48.633027,21.280810,25.147613,4.494128
2,mes,3,0.388372,13.505525,22.612388,36.767119,34.651128,53.402854,23.587162,27.724718,4.410692
3,mes,4,0.350026,9.989442,20.646550,31.259748,42.226295,50.584676,26.599932,22.510295,2.657253
4,mes,5,0.319304,8.270263,19.230256,27.855873,43.110681,45.299261,26.390928,18.517370,2.739541

dia
(31, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,dia,1,0.386347,12.473997,19.929031,32.762159,30.523579,43.665683,21.786228,19.712947,3.437440
1,dia,2,0.356946,11.856066,19.993693,32.183271,30.330201,40.179989,19.476865,19.190062,3.098166
2,dia,3,0.362344,12.561489,21.082283,34.064675,29.873654,40.067367,18.838365,19.526369,3.284734
3,dia,4,0.391224,13.587136,22.393110,36.383144,30.439305,42.742352,21.288505,19.991780,3.558633
4,dia,5,0.382341,12.780899,21.766618,34.873538,30.995962,42.141535,20.992642,19.927134,3.256323

semana
(53, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,semana,1,0.516693,19.106208,27.121639,46.682390,26.993097,55.153292,27.403408,24.187138,5.267967
1,semana,2,0.495250,21.709528,28.131879,50.495551,25.369379,52.020792,24.011176,25.060701,5.945891
2,semana,3,0.477783,20.673305,26.124486,47.476090,25.844341,49.119290,23.427948,23.688077,5.803144
3,semana,4,0.456961,19.034123,23.907408,43.342514,24.576250,45.781931,19.743473,23.350449,3.916037
4,semana,5,0.460618,19.602461,24.700449,44.696891,26.326917,45.655335,19.089746,23.671569,4.179004

mes_str
(12, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,mes_str,01,0.481743,19.769966,26.050160,46.371170,25.831449,50.384648,23.259499,24.068789,4.998085
1,mes_str,02,0.432044,17.508512,23.742840,41.793974,29.519540,48.633027,21.280810,25.147613,4.494128
2,mes_str,03,0.388372,13.505525,22.612388,36.767119,34.651128,53.402854,23.587162,27.724718,4.410692
3,mes_str,04,0.350026,9.989442,20.646550,31.259748,42.226295,50.584676,26.599932,22.510295,2.657253
4,mes_str,05,0.319304,8.270263,19.230256,27.855873,43.110681,45.299261,26.390928,18.517370,2.739541

semana_str
(53, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,semana_str,01,0.516693,19.106208,27.121639,46.682390,26.993097,55.153292,27.403408,24.187138,5.267967
1,semana_str,02,0.495250,21.709528,28.131879,50.495551,25.369379,52.020792,24.011176,25.060701,5.945891
2,semana_str,03,0.477783,20.673305,26.124486,47.476090,25.844341,49.119290,23.427948,23.688077,5.803144
3,semana_str,04,0.456961,19.034123,23.907408,43.342514,24.576250,45.781931,19.743473,23.350449,3.916037
4,semana_str,05,0.460618,19.602461,24.700449,44.696891,26.326917,45.655335,19.089746,23.671569,4.179004

anio_mes
(53, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio_mes,201801,0.526094,23.581876,31.156635,54.738512,26.338102,59.778243,29.635250,29.796040,7.827312
1,anio_mes,201802,0.448682,18.962440,26.322515,45.286983,32.313360,51.619734,25.215282,26.684054,5.293455
2,anio_mes,201803,0.457470,16.960486,25.476318,42.433852,34.450841,53.775092,25.721610,28.982749,4.075167
3,anio_mes,201804,0.417226,13.463725,24.412332,37.874031,40.410809,48.017886,25.702937,22.375846,3.078127
4,anio_mes,201805,0.360906,11.907918,22.564166,34.467479,37.559862,41.064308,22.447855,19.768182,5.090782

anio_semana
(233, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio_semana,201801,0.507913,18.384000,28.910750,47.289250,28.625513,60.904345,34.024974,27.545314,8.965150
1,anio_semana,201802,0.622796,29.571191,36.034349,65.611080,27.268860,67.750000,31.861813,34.697784,9.039699
2,anio_semana,201803,0.591066,29.953440,35.139162,65.088205,27.430345,64.867599,29.509646,35.242625,7.616040
3,anio_semana,201804,0.447861,19.052326,26.229123,45.280920,23.608653,48.607994,26.011673,22.426208,5.927488
4,anio_semana,201805,0.473064,22.998976,26.994622,50.002305,24.511117,48.055472,21.760820,25.652695,5.228313

trimestre
(4, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,trimestre,1,0.433944,16.878490,24.126087,41.594602,30.091902,50.894655,22.768925,25.708972,4.639558
1,trimestre,2,0.323860,8.687311,19.164772,28.225104,39.265243,42.689499,23.609631,18.420343,2.640793
2,trimestre,3,0.318633,9.063501,18.130404,27.434196,27.995164,28.355188,16.076244,12.197948,2.169450
3,trimestre,4,0.462588,18.077097,24.323456,43.008559,25.272052,42.862319,21.117920,20.331481,4.028889

anio_trimestre
(18, 11)

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio_trimestre,2018-1,0.478762,19.961320,27.776911,47.737902,30.988567,55.223244,26.942568,28.533867,5.813117
1,anio_trimestre,2018-2,0.371055,11.954856,22.680575,34.604599,35.617511,40.729203,22.181710,19.207387,3.858316
2,anio_trimestre,2018-3,0.339317,11.395655,20.715162,32.051408,28.613572,32.864012,19.026088,15.157013,2.987298
3,anio_trimestre,2018-4,0.533008,20.796861,26.857659,47.624628,23.883728,45.640231,24.677064,22.251004,4.453797
4,anio_trimestre,2019-1,0.442996,17.741254,24.046009,42.354293,30.385477,51.213122,23.779141,26.260083,4.490740

In [86]:
df.shape, cubo.shape

((1074321, 25), (39210, 11))

In [84]:
cubo.loc[cubo['dimension']=='anio_semana']

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
38955,anio_semana,201801,0.507913,18.384000,28.910750,47.289250,28.625513,60.904345,34.024974,27.545314,8.965150
38956,anio_semana,201802,0.622796,29.571191,36.034349,65.611080,27.268860,67.750000,31.861813,34.697784,9.039699
38957,anio_semana,201803,0.591066,29.953440,35.139162,65.088205,27.430345,64.867599,29.509646,35.242625,7.616040
38958,anio_semana,201804,0.447861,19.052326,26.229123,45.280920,23.608653,48.607994,26.011673,22.426208,5.927488
38959,anio_semana,201805,0.473064,22.998976,26.994622,50.002305,24.511117,48.055472,21.760820,25.652695,5.228313
...,...,...,...,...,...,...,...,...,...,...,...
39183,anio_semana,202219,0.306912,9.137712,17.873751,27.634687,40.623660,42.812545,17.470971,21.039149,1.908871
39184,anio_semana,202220,0.373531,8.198513,21.824788,30.264588,51.450445,56.974561,29.240810,24.640945,2.792037
39185,anio_semana,202221,0.304724,7.024873,18.514428,25.543902,39.947868,44.476929,21.428133,20.555835,2.273424
39186,anio_semana,202222,0.259241,4.530000,17.239930,21.937000,41.126582,41.716860,18.926829,20.005571,4.311600
39187,anio_semana,202252,0.657422,16.315464,23.629948,40.465979,26.972202,76.253506,40.422594,25.497674,2.468545

In [85]:
cubo.loc[cubo['dimension']=='anio']

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
38736,anio,2018,0.431085,16.095443,24.534511,40.599747,29.626097,43.803452,23.336676,21.442206,4.265605
38737,anio,2019,0.383208,13.426739,21.644903,35.688605,31.357927,43.517259,22.736653,20.669559,3.313983
38738,anio,2020,0.322925,10.282688,18.978150,29.624292,31.923724,38.254228,19.049728,17.784468,3.290064
38739,anio,2021,0.388669,12.685351,20.815364,33.889656,29.163534,39.301183,19.279539,17.500321,2.839421
38740,anio,2022,0.409712,13.151300,22.085672,35.621252,35.508667,48.232412,21.443782,21.523380,2.961418

In [96]:
cubo

,dimension,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,hrs,0,0.312404,7.456574,21.933860,29.600732,16.515427,34.464894,17.841665,15.473877,3.428262
1,hrs,1,0.277678,7.251166,20.678116,28.135607,15.705189,33.122560,18.393030,14.404870,3.542234
2,hrs,2,0.255888,7.403335,19.881017,27.532365,14.674933,31.828204,18.639310,13.368783,3.620527
3,hrs,3,0.251474,8.774315,19.909887,28.972164,13.263713,31.179271,18.669187,12.925385,3.491220
4,hrs,4,0.294181,13.854534,21.678198,35.850810,10.688316,31.620618,19.002769,13.116230,3.489692
...,...,...,...,...,...,...,...,...,...,...,...
39205,anio_trimestre,2021-2,0.320260,8.421717,18.367637,27.142184,34.864596,36.423578,20.624009,13.895400,2.207571
39206,anio_trimestre,2021-3,0.344878,9.164796,17.828096,26.979900,25.558864,25.903292,14.397224,10.255768,1.767518
39207,anio_trimestre,2021-4,0.467087,18.753030,24.396706,43.753616,25.936221,42.541587,19.722593,18.982479,3.170957
39208,anio_trimestre,2022-1,0.443906,16.070248,23.236212,39.655545,29.280241,47.966144,19.999416,21.444327,3.388814
39209,anio_trimestre,2022-2,0.363244,9.295131,20.548152,30.291619,43.551681,48.622081,23.732190,21.647630,2.412483

In [87]:
cubo.to_csv('resultados/cubo_01_G28.csv',sep='|',index='False')

In [88]:
cubo.to_excel('resultados/cubo_01_G28.xlsx')

In [90]:
## Realizar agrupados solo a niveles de dimensión "tiempo" y ESTACIÓN

lst_dfs = []

for d in dimensiones:
    print(d)
    aux = df.groupby(["id_station",d])[contaminantes].mean().reset_index().copy()
    aux.rename(columns = {d:'tiempo'} , inplace=True)
    aux.insert(0,'dimension',d)
    
    print(aux.shape)

    display(aux.head())

    lst_dfs.append(aux)

cubo_2 = pd.concat( lst_dfs , ignore_index=True )

hrs
(816, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,hrs,ACO,0,0.249374,5.469444,18.018056,23.434119,14.267532,42.908397,NaN,NaN,0.921944
1,hrs,ACO,1,0.226147,5.337969,17.358832,22.678720,12.581274,44.397338,NaN,NaN,0.988201
2,hrs,ACO,2,0.201248,5.356449,17.004161,22.327323,10.935149,43.335863,NaN,NaN,1.013235
3,hrs,ACO,3,0.198335,6.019002,17.182898,23.209026,9.029115,41.011331,NaN,NaN,1.024266
4,hrs,ACO,4,0.218312,8.545238,17.929762,26.478571,6.907366,39.902738,NaN,NaN,1.024173

hrs_str
(816, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,hrs_str,ACO,00,0.249374,5.469444,18.018056,23.434119,14.267532,42.908397,NaN,NaN,0.921944
1,hrs_str,ACO,01,0.226147,5.337969,17.358832,22.678720,12.581274,44.397338,NaN,NaN,0.988201
2,hrs_str,ACO,02,0.201248,5.356449,17.004161,22.327323,10.935149,43.335863,NaN,NaN,1.013235
3,hrs_str,ACO,03,0.198335,6.019002,17.182898,23.209026,9.029115,41.011331,NaN,NaN,1.024266
4,hrs_str,ACO,04,0.218312,8.545238,17.929762,26.478571,6.907366,39.902738,NaN,NaN,1.024173

date2
(1074321, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,date2,ACO,2018-01-01 00:59:00,0.4,3.0,23.0,25.0,8.0,125.0,NaN,NaN,2.0
1,date2,ACO,2018-01-01 01:59:00,0.4,2.0,19.0,21.0,13.0,98.0,NaN,NaN,3.0
2,date2,ACO,2018-01-01 02:59:00,0.4,2.0,15.0,17.0,15.0,88.0,NaN,NaN,3.0
3,date2,ACO,2018-01-01 03:59:00,0.4,2.0,14.0,15.0,20.0,82.0,NaN,NaN,3.0
4,date2,ACO,2018-01-01 04:59:00,0.4,2.0,14.0,16.0,16.0,96.0,NaN,NaN,4.0

anio
(161, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio,ACO,2018,0.275617,8.983607,15.869626,24.846118,23.493716,42.949436,NaN,NaN,1.776392
1,anio,ACO,2019,0.271732,6.615444,15.140585,21.737814,27.652304,55.884643,NaN,NaN,1.530402
2,anio,ACO,2020,NaN,NaN,NaN,NaN,NaN,38.549502,NaN,NaN,NaN
3,anio,ACO,2021,0.233233,6.295314,13.423599,19.732450,24.466132,44.509745,NaN,NaN,1.427613
4,anio,ACO,2022,0.254789,6.899401,15.986427,22.897405,34.156937,55.782913,NaN,NaN,1.282884

mes
(408, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,mes,ACO,1,0.322180,9.779158,19.659287,29.452484,19.527273,61.288161,NaN,NaN,2.055368
1,mes,ACO,2,0.266423,10.250865,17.332180,27.601499,24.253033,59.608371,NaN,NaN,1.620620
2,mes,ACO,3,0.255904,5.507079,15.214286,20.718790,30.048913,69.668882,NaN,NaN,2.050761
3,mes,ACO,4,0.232755,6.122306,15.279756,21.384724,33.785279,56.941504,NaN,NaN,1.606689
4,mes,ACO,5,0.205856,4.806564,13.429619,18.225209,35.332868,50.954217,NaN,NaN,1.496481

dia
(1054, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,dia,ACO,1,0.269720,8.004594,14.300153,22.310873,24.600571,46.976553,NaN,NaN,1.205087
1,dia,ACO,2,0.240123,7.070661,13.970814,21.030722,24.053009,41.835891,NaN,NaN,1.275917
2,dia,ACO,3,0.252115,7.139183,14.881997,22.013616,25.018440,45.835731,NaN,NaN,1.634646
3,dia,ACO,4,0.245574,6.767213,15.201639,21.959016,25.098935,47.662651,NaN,NaN,1.334465
4,dia,ACO,5,0.260440,7.047619,15.434921,22.474603,25.581197,44.947879,NaN,NaN,1.628952

semana
(1794, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,semana,ACO,1,0.383333,8.878099,21.609504,30.475207,22.630165,67.028614,NaN,NaN,2.262590
1,semana,ACO,2,0.256341,7.806846,18.540342,26.366748,19.308068,56.070690,NaN,NaN,2.336735
2,semana,ACO,3,0.307903,12.408537,19.560976,31.960366,16.506098,59.614770,NaN,NaN,2.530488
3,semana,ACO,4,0.327880,11.196305,18.775982,30.009238,17.406452,60.243781,NaN,NaN,1.705336
4,semana,ACO,5,0.284340,10.438819,18.934599,29.424051,22.164444,59.289676,NaN,NaN,1.386076

mes_str
(408, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,mes_str,ACO,01,0.322180,9.779158,19.659287,29.452484,19.527273,61.288161,NaN,NaN,2.055368
1,mes_str,ACO,02,0.266423,10.250865,17.332180,27.601499,24.253033,59.608371,NaN,NaN,1.620620
2,mes_str,ACO,03,0.255904,5.507079,15.214286,20.718790,30.048913,69.668882,NaN,NaN,2.050761
3,mes_str,ACO,04,0.232755,6.122306,15.279756,21.384724,33.785279,56.941504,NaN,NaN,1.606689
4,mes_str,ACO,05,0.205856,4.806564,13.429619,18.225209,35.332868,50.954217,NaN,NaN,1.496481

semana_str
(1794, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,semana_str,ACO,01,0.383333,8.878099,21.609504,30.475207,22.630165,67.028614,NaN,NaN,2.262590
1,semana_str,ACO,02,0.256341,7.806846,18.540342,26.366748,19.308068,56.070690,NaN,NaN,2.336735
2,semana_str,ACO,03,0.307903,12.408537,19.560976,31.960366,16.506098,59.614770,NaN,NaN,2.530488
3,semana_str,ACO,04,0.327880,11.196305,18.775982,30.009238,17.406452,60.243781,NaN,NaN,1.705336
4,semana_str,ACO,05,0.284340,10.438819,18.934599,29.424051,22.164444,59.289676,NaN,NaN,1.386076

anio_mes
(1599, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio_mes,ACO,201801,0.296770,11.218487,21.249300,32.473389,11.406780,66.487004,NaN,NaN,1.960443
1,anio_mes,ACO,201802,0.238442,12.853659,18.831301,31.668699,16.638037,58.330020,NaN,NaN,2.019663
2,anio_mes,ACO,201804,0.244774,8.177116,18.434169,26.644201,31.238619,53.315133,NaN,NaN,2.136578
3,anio_mes,ACO,201805,0.206039,6.099440,14.357143,20.463585,30.707283,43.854993,NaN,NaN,1.709538
4,anio_mes,ACO,201806,0.225036,5.607083,12.389545,18.003373,24.897133,28.551089,NaN,NaN,1.183811

anio_semana
(6807, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio_semana,ACO,201801,0.322340,7.973118,19.709677,27.661290,14.478495,64.752632,NaN,NaN,2.226277
1,anio_semana,ACO,201802,0.299394,10.006061,23.490909,33.466667,12.848485,78.416667,NaN,NaN,2.518797
2,anio_semana,ACO,201803,0.340000,16.557576,24.963636,41.557576,9.212121,82.640719,NaN,NaN,2.175758
3,anio_semana,ACO,201804,0.278289,11.414474,17.973684,29.440789,9.753425,49.209877,NaN,NaN,1.384106
4,anio_semana,ACO,201805,0.223188,12.587879,17.872727,30.430303,11.581818,49.713415,NaN,NaN,1.478788

trimestre
(136, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,trimestre,ACO,1,0.283081,8.646693,17.530350,26.187549,24.555577,62.906953,NaN,NaN,1.905387
1,trimestre,ACO,2,0.213695,5.203677,13.470743,18.665889,31.761550,45.668639,NaN,NaN,1.394478
2,trimestre,ACO,3,0.240771,6.534781,11.802859,18.344790,22.230957,24.064167,NaN,NaN,1.163501
3,trimestre,ACO,4,0.319295,10.080774,16.879484,26.953302,22.893818,47.582763,NaN,NaN,1.821595
4,trimestre,AJM,1,0.281172,4.276936,17.559133,21.862374,40.390793,40.315318,20.872397,19.441076,4.333471

anio_trimestre
(561, 12)

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,anio_trimestre,ACO,2018-1,0.275856,11.885572,20.262852,32.145108,13.543860,63.162075,NaN,NaN,1.981781
1,anio_trimestre,ACO,2018-2,0.224609,6.630848,15.094602,21.740874,29.109053,42.294566,NaN,NaN,1.688866
2,anio_trimestre,ACO,2018-3,0.242006,7.118831,11.708442,18.813636,23.765513,25.388539,NaN,NaN,1.411191
3,anio_trimestre,ACO,2018-4,0.362969,11.207887,17.344225,28.523380,23.819515,45.334648,NaN,NaN,2.112245
4,anio_trimestre,ACO,2019-1,0.294919,8.166147,16.520768,24.692108,27.042574,57.773531,NaN,NaN,1.892574

In [91]:
cubo_2

,dimension,id_station,tiempo,CO,NO,NO2,NOX,O3,PM10,PM2.5,PMCO,SO2
0,hrs,ACO,0,0.249374,5.469444,18.018056,23.434119,14.267532,42.908397,NaN,NaN,0.921944
1,hrs,ACO,1,0.226147,5.337969,17.358832,22.678720,12.581274,44.397338,NaN,NaN,0.988201
2,hrs,ACO,2,0.201248,5.356449,17.004161,22.327323,10.935149,43.335863,NaN,NaN,1.013235
3,hrs,ACO,3,0.198335,6.019002,17.182898,23.209026,9.029115,41.011331,NaN,NaN,1.024266
4,hrs,ACO,4,0.218312,8.545238,17.929762,26.478571,6.907366,39.902738,NaN,NaN,1.024173
...,...,...,...,...,...,...,...,...,...,...,...,...
1090670,anio_trimestre,XAL,2018-4,0.764532,42.630219,31.593936,73.580020,20.418939,79.124347,32.081505,47.039185,4.415753
1090671,anio_trimestre,XAL,2019-1,0.678200,39.274354,33.249503,71.872266,22.375988,85.955620,32.490593,53.452002,5.501479
1090672,anio_trimestre,XAL,2019-2,0.423974,18.321688,26.426500,44.746210,34.568182,68.353999,28.795412,39.553627,2.416387
1090673,anio_trimestre,XAL,2019-3,0.432252,18.424729,24.831052,43.271826,24.426800,45.257722,18.513924,26.757975,1.571158
1090674,anio_trimestre,XAL,2019-4,0.601671,32.614538,30.309900,62.928264,19.409528,63.734200,23.798582,39.950384,3.300149

In [93]:
df.shape, cubo_2.shape

((1074321, 25), (1090675, 12))

In [94]:
cubo_2.to_csv('resultados/cubo_02_G28.csv',sep='|',index='False')

In [95]:
cubo.to_excel('resultados/cubo_02_G28.xlsx')